/*.contact {
    position: absolute;
    background: url('../img/losangeles12.jpg') no-repeat center left/cover;
    height: 100%;
    width: 100%;
} */

/* Main area Styling */



h1 {
  text-align: center;
  font-size: 1.5rem;
  float: right;
  padding:10px 25px 10px 10px;
  cursor: pointer;
  margin: 0 auto;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
background-attachment
    fixed = parallax effect
    scroll = standard scrolling effect
*/


    background-attachment: fixed;
}



.pimg1 {

    background-image: url('../img/cupcakes.jpg');
    min-height: 600px;
}

.pimg2 {

    background-image: url('../img/losangeles16.jpg');
    min-height: 400px;
}

.pimg3 {

    background-image: url('../img/losangeles12.jpg');
    min-height: 400px;
}

.section {
   text-align:center;
    padding: 50px 80px;
}

.section h2 {
  color: #990073;
}

.section p {
    font-size: 1rem;
    text-decoration: none;
    color: #990073;
    padding: 8px;
}

.section a {
    text-decoration: none;
    color: #990073;
}

.section ul li {
    list-style: none;
    font-size: 1.2rem;
}

.section-light {
    background-color: #990073;
    color: #990073;
    list-style: none;
}

.section-dark {
    background-color: #ffffff;
    color: ##990073;
    text-decoration: none;
    list-style: none;

}

.ptext {
   position: absolute;
   top: 50%;
   width: 100%;
   text-align: center;
   color: #990073;
   font-size: 27px;
   letter-spacing: 8px;
   text-transform: uppercase;
}

.ptext .border {
    background-color: #ffffff;
    color: #990073;
    padding: 20px;
    opacity: 0.6;
}


/* .ptext .border.trans {
   background-color: transparent;
   color: #000;
} */

/*

.banner {
    width: 100%;
    background:url(../img/cupcakephotos.jpg);
    background-size: cover;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    padding: 40px 15px;
}

.big-text {
    font-size: 2.5rem;
    font-weight: 800;
    animation-delay: 1s;
}

.banner a {
    display: inline-block;
    background: #fff;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px;
    transition: 0.3s;
}

.banner a:hover {
    background: rgb(253, 30, 205);
    color: #fff;
}

*/

@media(max-width:760px) {

/* .ptext .border.trans {
   background-color: transparent;
   color: #000;
} */
.menu-wrap {
  position: fixed;
  margin-top: 0px;
  z-index: 4;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

.borderbottom {
/* padding: 10px 10px 10px 80px; */
text-align: right;
position: fixed;

margin: 0 auto;
background-color: #ffffff;
width: 100%;
z-index: 1;


}

.secondmenu {
  display: none;
}

h1 {
  padding-left: 75px;
  cursor: hidden;
  position: fixed;
  background-color: #ffffff;
  z-index: 2;

}

h1 a {
  text-decoration: none;
  color: #990073;
}

section p .tryagain {
  text-align: center;
  padding: 400px;
  font-size: 6px;
}

}

@media(max-height: 414px) {

    .pimg1, .pimg2, .pimg3 {
        position: relative;
        opacity: 0.8;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;

    }
}

@media(min-width: 761px) {
  .menu-wrap {
    visibility: hidden;
  }

 nav {

   padding: 12px;
   float: right;
 }



li {
  display: inline-block;
  padding: 12px;
}

li a {
  text-decoration: none;
  color: #990073;
}

  .borderbottom {
    display: inline-block;

  }

  .borderbottom h1 {

    float: left;
    text-align: center;
    padding: 20px;




  }

  .borderbottom a {
    text-decoration: none;
    color: #990073;

  }
}
